.margen-superior-main {
    margin-top: 40px;
    padding: 20px;
}

.barbie {
    background-color: rgb(21, 103, 255);
}

.color-boton-registro {
    background-color: rgb(32, 16, 249);
    border-color:black; 
}

.color-boton-registro:hover{
    background-color: rgb(51, 51, 244);
    border-color:rgb(88, 38, 238); 
}